body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  font-size: 16px;
}

img {
  width: 100%;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1.25rem;
  height: 3.125rem;
  padding-top: 3.125rem;
}

.container-logo-search {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  display: inline-block;
  padding: 0px 3.125rem;
  width: 7.5rem;
}

.logo img {
  height: 100%;
  vertical-align: middle;
}

.search-bar {
  width: 46.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 500px;
}

p.search-entry {
  padding-left: 1.25rem;
}

.search-icons {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 1.25rem 0 0;
  margin: 0;
}

.search-icons li > * {
  display: inline-block;
  vertical-align: middle;
}

.close span {
  font-size: 1.5rem;
  color: gray;
}

.search-icons li.close {
  border-right: 2px solid lightgray;
  padding-right: 1.25rem;
}

.microphone {
  width: 2.1875rem;
  padding: 0 0.625rem;
}
.magnifier {
  width: 1.25rem;
}

.apps {
  display: flex;
  align-items: center;
}

.apps .dots {
  width: 1.875rem;
  opacity: 0.8;
  padding-right: 1.25rem;
}

.apps .user {
  width: 3.125rem;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  width: 44.375rem;
  margin-left: 15.625rem;
}

.main-nav ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

.main-nav ul li {
  display: flex;
  align-items: center;
  color: gray;
  font-size: 0.9rem;
}

.main-nav ul li:nth-child(1) {
  color: #3c78e0;
  border-bottom: 2px solid #3c78e0;
}

.main-nav ul li i {
  padding-left: 0.9375rem;
  padding-right: 0.4375rem;
}

.main-nav ul li p {
  padding-right: 0.625rem;
}

.settings ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}

.settings ul li {
  color: gray;
  font-size: 0.9rem;
}

.settings ul li p {
  padding-left: 1.25rem;
}

.header-break {
  height: 1px;
  background-color: #e9e9e9;
  border: none;
  margin-top: 0;
}

.container-results-main {
  margin-left: 15.625rem;
}

.container-search-results {
  width: 44.375rem;
}

.container-search-results p {
  color: #202124;
}

.results {
  margin-top: 2rem;
}

.results p {
  margin-bottom: 0;
  line-height: 1.7;
  color: #202124;
}

.results p.layered-target {
  display: flex;
  align-items: center;
}
.results p.layered-target span {
  font-size: 0.5em;
}

span.results-ellipsis {
  font-size: 18px;
}

.results p.layered-target span.results-ellipsis {
  font-size: 18px;
}

.results h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #5654bc;
  font-weight: 400;
  line-height: 1.7;
}

p.description {
  margin: 0;
  line-height: 1.7;
}

p.links {
  color: #5654bc;
  margin: 0;
  line-height: 1.7;
}

.info-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: none;
}

.info-table p {
  margin-top: 0;
}
.info-table p span {
  color: #5654bc;
}

.questions {
  margin-top: 2rem;
}

.question-single {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}

.question-single:nth-child(1) {
  border-top: 1px solid #e9e9e9;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.question-single:nth-child(5) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.question-single h2 {
  font-weight: 400;
  margin: 8px 0;
}
.carat i {
  font-size: 1.15rem;
  color: gray;
}

.feedback p {
  margin: 0;
  font-size: 0.75rem;
  font-style: italic;
  color: gray;
  float: right;
  padding-right: 20px;
}
